<br />
<div>
  <div id="menu" id="sidebar">
    <div class="list-group">
      <nav id="menu">
        <ul>
          <li><a href="/"> Home </a></li>
          <li><a href="/quotes"> Quote </a></li>
          <li><a href="/about"> About </a></li>
          <li><a href="/about"> page 4 </a></li>
        </ul>
      </nav>
    </div>
  </div><!--/.sidebar-offcanvas-->
</div><!--/row-->