<br />
<br />
<img style="float: right;float: top;" src="/img/fab.jpg" alt="Fabrice Esope" >


<h2>Welcome to my NodeJS space</h2>

<p>
    Due to my current interrest to NodeJS and its amazingly rich ecosystem,
    I have created this space to lay down some ideas, and practice to improve,
    learn, as well as making it my playground to include some nice pieces of code.
    This will be a great way to explore some new opportunities for great new project,
    and meet new great people and environment i am sure.
</p>


<p>
    About learning and networking.
</p>