<br />
<br />
<img style="float: right;float: top;" src="/img/fab.jpg" alt="Fabrice Esope" >


<h2>Welcome to my NodeJS space</h2>

<p>
    The forum module is now in construction with rest-api express on the backend and react for the front end, with a mongodb database.<br />
    I am committing everyday on it, the progression can be seen on my github at:<br />
    <a href="https://github.com/MrFabkirox/restful-api-gists-microblog">https://github.com/MrFabkirox/restful-api-gists-microblog</a>
</p>


<p>
    For any inquiries or private message you can also reach me on LinkedIn:<br />
    <a href="https://www.linkedin.com/in/fabriceesope/">https://www.linkedin.com/in/fabriceesope/</a>
</p>