
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Inspire</h1>
              <span class="subheading">Welcome to my node playground, focussed on health, mindset, diet and ecology</span>
            </div>
          </div>
        </div>
      </div>
    </header>


<p>Initially, this space, like many others of mine has started as an exercise, a programming exercise.
I am a developper, mostly NodeJs to name it, a programming technology in new Javascript.</p>

<p>And then came to my mind this bigger purpose that i could take advantage to put lights on..</p>

<p>Passionate about health, and everything that will make our body the most efficient, and durable, i have been studied a lot on my spare time many related subject.
Diet, ecology, mindset, are the key words that would deserv to be put on the highest spot in my opinion.
Everyone should be interested in making ourself and the planet better, with a return on investment so much worth it on every level ;
Disease, Suffering, Pollution, Poverty to name a few.</p>

<p>All of that could be reduced by half in a finger clap if we all were to watch more studies and debate on the topic, instead of watching funny cats on facebook or youtube, i am sure of it.
I love funny cat, don t get me wrong, but all the funny animals of the planet, all the amazing humans on the planet, deserve to walk healthy, breathing clean air, drinking blue water from the mountain, eat the best natural whole food from the ground, and letting this amazing mind of ours express himself, and be happier everyday surrounded by our healthy loved ones.</p>

<p>Let ourself ask what can I do at every level and each single moment to support:
Our <b>microbiome</b> (intestinal bacteria balance to begin with)<br />
<b>Individuals</b> that deserve it the most (not than some don t deserve, but prioritisation is part of optimisation)<br />
<b>Our planet</b>: Ecology is an absolute economical component, wasting the earth resources is a quick win on the short term(let s say ...), But is costing way way way more on the long term, on every level.<br />
And soon we will be able to take care of <b>solar systems</b> !<br />

<p>Everything is system, from the smallest to the biggest,symbiotic mecanism, that can be understood, optimized, or destroyed.</p>

<p>I am not a scientist, i didn't do any particular school (yet) to allow myself the right to open, my mouth.. Because we all have this right ! And the more we will bring those topic up, the better it will be for each single personne optimal state !</p>
<p>You want not feel fatigue or too weak or too low to do this or that?<br />
You want to see your grand children growing up and enjoying as long as you can your family ?<br />
You want to make the most money you can on financial places ?<br />
You want to surprised yourself by what you can accomplished by any physical or intellectual work or hobbies ?<br />
You just want to chill in front of the sun going up or down ?</p>

<p>Study, question, ask, be curious, express yourself, we will all win at some degrees from it.</p>

<p>My intention is not to give any lesson to any one, but to progress in my different paths, and if we can enrich one an other, and have some good time hiking, doing music, or even make more friends, while being empowered by some higher purpose.. why not !</p>

<p>I like to think of the web of an opportunity to exchange, progress, develop knowledge and ideas, I take the chance here, i hope you guyz will have any idea any key word to discuss.</p>

<p>Let's see where it gets us.</p>

<p>Fabrice, <b>Keto-Vegan musician</b>, <b>programmer</b> and <b>sport aficionado</b>.</p>

<p>What about you ?</p>

<p>Please don t be shy, just say hi in the post section, or quote anything you d'like, let s see where it gets us.</p>

<h3>Fortune cookie of the day:</h3>
<p>
    "{{ fortune }}"
</p>
<p>Reload the page for an other one.</p>

<p><a href="./" class="btn btn-primary btn-large">Reload &raquo;</a></p>


  <br />
  <br />

</p>

