<img style="float: right;float: top;" src="/img/fab.jpg" alt="Fabrice Esope" >

<h2>Welcome to my NodeJS space</h2>

<br />
<p>
    Due to my current interrest to NodeJS and its amazingly rich ecosystem,
    I have created this space to lay down some ideas, and practice to improve,
    learn, as well as making it my playground to include some nice pieces of code.
    This will be a great way to explore some new opportunities for great new project,
    and meet new great people and environment i am sure.
    Don't hesitate to reach me on LinkedIn, Viadeo or other socials.
</p>

<br />
<br />
<br />

<h3>Here is the Fortune cookie of the day:</h3>
<p>
    "{{ fortune }}"
</p>
<p>Reload the page for an other one.</p>

<p><a href="/" class="btn btn-primary btn-large">Reload &raquo;</a></p>


  <br />
  <br />
Reach me on <a href="https://fr.linkedin.com/pub/fabrice-esope/36/365/7b7">LinkedIn</a> or 
  <a href="http://www.viadeo.com/profile/0021ovjeecl5pbnk">Viadeo</a>.
</p>

