
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Inspire</h1>
              <span class="subheading">Welcome to my node playground</span>
            </div>
          </div>
        </div>
      </div>
    </header>




<br />
<br />
<br />

<h3>Fortune cookie of the day:</h3>
<p>
    "{{ fortune }}"
</p>
<p>Reload the page for an other one.</p>

<p><a href="./" class="btn btn-primary btn-large">Reload &raquo;</a></p>


  <br />
  <br />

</p>

