  </div>
  <h3>Link to some of my previous projects</h3>
  <div class="row">
<ul style="list-style: none">
  <li>
  <div class="col-xs-6 col-lg-4">
  <p>Wordpress blog, with tutorials, music that i produced or mixed, articles</p>
  <p><a class="btn btn-default" href="http://www.learningtigerspace.com/" role="button">learningtigerspace.com &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  </li>

  <li>
  <div class="col-xs-6 col-lg-4">
  <p>PHP Laravel webapp</p>
  <p><a class="btn btn-default" href="http://interactiontigerspace.herokuapp.com/" role="button">interactiontigerspace.herokuapp.com &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  </li>

  <li>
  <div class="col-xs-6 col-lg-4">
  <p>Java Play2 webapp</p>
  <p><a class="btn btn-default" href="http://extendedtigerrunningspace.herokuapp.com/" role="button">extendedtigerrunningspace.herokuapp.com &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  </li>

  <li>
  <div class="col-xs-6 col-lg-4">
  <p>Python Flask webapp</p>
  <p><a class="btn btn-default" href="http://tigerrunningspace.herokuapp.com/" role="button">tigerrunningspace.herokuapp.com &raquo;</a></p>
  </div><!--/.col-xs-6.col-lg-4-->
  </li>