<h2>Interesting Quotes</h2>

<h2>Add a quote</h2>

<form role="form"
  action="/process?form=quote" method="POST">

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <div>
    <input placeholder="Name" type="text"
      id="fieldName" name="name">
  </div>

  <div>
    <input placeholder="Quote" type="text"
      id="fieldQuote" name="quote">
  </div>

  <div>
    <button type="submit">Post</button> </div>
  </div>

</form>

<p>
    Interesting quotes.
</p>